.title {
    color: aqua;
    background-color: darkblue;
    text-align: center;
}

#img {
    height: 400px;
    width: auto;
}
h5 {
    color: blue;
    opacity: 0.7;

}
p {
    color: lightblue;
    background-color: darkgray;
}
li {
    color: grey;
}
h4 {
    color: azure;
    background-color:red ;
}